<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Top 20</title>
  </head>
  <body>
    <img src="/static/starwars.jpeg">
    <font color="#CD5C5C">
    <h1>Top 20 Movies!</h1>
    </font>
      <font color="#191970">
      <a href="/">Back</a>
        <br>
        {% for rating in top_20 %}
        <br>
          <!-- {{ rating.id }} -->
          <a href="{% url 'movie_view' rating.id %}"> {{ rating.movie_title }} {{ rating.movie_rating }} </a>
        {% endfor %}
      </font>
  </body>
</html>
